# 复制为 .env：copy .env.local.example .env

BACKEND_IMAGE=suipianma/study-nest-js:latest
FRONTEND_IMAGE=suipianma/admin-web:latest

API_PORT=3000
WEB_PORT=3001

MYSQL_ROOT_PASSWORD=qwer1234
MYSQL_DATABASE=ai_admin

DATABASE_URL=mysql://root:qwer1234@mysql:3306/ai_admin
REDIS_HOST=redis
REDIS_PORT=6379

JWT_ACCESS_SECRET=xiaoyao_ai_admin_access_secret
JWT_REFRESH_SECRET=xiaoyao_ai_admin_refresh_secret
JWT_ACCESS_EXPIRES_IN=30m
JWT_REFRESH_EXPIRES_IN=7d

APP_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3001

OLLAMA_URL=http://host.docker.internal:11434
OLLAMA_MODEL=deepseek-r1:1.5b
AI_CACHE_TTL=86400
